:root {
    --background-color: rgba(255, 255, 255, 1);
    --text-color: rgba(0, 0, 0, 1);
    --text-size: 28px;
    --title-size: 36px;
    --transition: all .5s ease-out;
    /* Staatliches */
    /* Tourney */
    /* Francois One */
    /* PT Sans */
    /* Farro */
    --max-width: 1200px;
    --padding: 15px;
    --header-height: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: auto;
    overscroll-behavior: contain;
}

header {
    width: inherit;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding);
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    z-index: 200;

    button {
        text-transform: uppercase;
        font-family: Tourney;
        font-size: 22px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-align: center;
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
        user-select: none;
    }

    ul {
        margin-right: auto;
        ;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    li {
        color: i var(--text-color);
        font-family: Staatliches;
        font-size: 22px;
    }

    a {
        color: inherit;
        font-size: 22px;
        font-weight: 400;
        line-height: 27.5px;
        letter-spacing: 0.03em;
        text-decoration: none;
        user-select: none;
    }

}

main {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    z-index: 100;
    background: var(--background-color);
    background-image: url('assets/bg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top var(--header-height) left 200px;
    background-size: 100% 100%;
    /* Example height, adjust as needed */
    min-height: 200vh;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: self-start;
    gap: 30px;

    aside {
        padding: var(--padding);
        position: sticky;
        top: var(--header-height);
        left: 0;
        flex: 2;

        li {
            color: var(--text-color);
            margin-bottom: 80px;
            border-bottom: 1px solid rgba(189, 189, 189, 1);
            transition: var(--transition);

            &:hover {
                transition: var(--transition);
                border-bottom: 1px solid var(--text-color);
            }
        }

        a {
            color: inherit;
            text-transform: uppercase;
            font-family: Francois One;
            font-size: var(--title-size);
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    section {
        flex: 5;
        color: var(--text-color);
        width: 100%;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
        }

        &>ul>li {
            padding-top: 100px;
            position: relative;

            &:before {
                content: "";
                background: #000;
                position: absolute;
                top: var(--header-height);
                left: 0;
                width: 100px;
                height: 8px;
            }

            h2 {
                font-family: Francois One;
                font-size: var(--title-size);
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                text-wrap: nowrap;
                margin-bottom: 40px;
                ;
            }

            sup {
                font-family: Farro;
                font-size: 28px;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 0.04em;
                text-wrap: nowrap;
                text-transform: capitalize;
                margin: 10px;
            }

            p {
                font-family: PT Sans;
                font-size: var(--text-size);
                font-weight: 400;
                line-height: 48px;
                margin-bottom: 40px;
                width: 100%;
            }

            span {
                text-wrap: nowrap;
            }

            b {
                position: relative;
            }

            b:before {
                position: relative;
                content: "+";
            }
        }
    }
}

.using-page{
    flex-direction: column;
    justify-content: center;
    padding-top: var(--header-height);
    gap:0;
    h2{
        margin-top: 70px;
        margin-bottom: 40px;
        position: relative;
        &::before{
            content: "";
            background: var(--text-color);
            position: relative;
            display: block;
            height: 8px;
            width: 100px;
        }
        display: flex;
        align-items: center;
        gap: 20px;
    }
    li:before{
        content: none;
    }
    .using-links{
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }
        li{
            padding: 0;
            flex-grow: 1;
            flex-basis: 270px;
            flex-shrink: 1;
        }
        a{  
            position: relative;
        }
        svg{
            padding: 10px;
            width: 270px;
            height: 180px;
            transition: var(--transition);
            transform: rotate(0) scale(1);
            fill: var(--text-color);
            background: rgba(230, 230, 230, 1);
            &:hover{
                transform: rotate(360deg) scale(1.1);
                box-shadow: 5px 5px 10px #6e6e6e;
                filter: invert();

            };
        }

    }

}

/* css- filter-invert */